
   .weather-forecast-container {
    background: rgba(0, 0, 0, 0.5); 
    color: #fff;
    padding: 15px;
    margin: 20px auto; 
    border-radius: 8px;
    max-width: 100%;
    height: 380px;
  }
  
  .container-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
  
  .container-item {
    background: rgba(0, 0, 0, 0.7); 
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    text-align: center; 
    width: 200px;
    transition: transform 0.5s ease; 
  }
  
  .container-item:hover {
    transform: translateY(-10px); 
    cursor: pointer;
  }
  
  .view-more-button {
    width: 150px;
    display: block;
    background: #a40b0b;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 10px auto;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s ease, box-shadow 0.3s ease;
  }
  
  .weather-forecast-container button:hover {
    background: #ff0000;
    box-shadow: 0 0 15px #ff0000; 
    border-radius: 50px;
    border: none;
  }
  
  .weather-table {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 10px;
  }
  
  .weather-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }
  
  .weather-label {
    text-align: left;
    flex: 1;
  }
  
  .weather-value {
    text-align: right;
    flex: 1;
  }
  