
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Login.css */

.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  text-align: center; 
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-container form div {
  margin-bottom: 20px;
}

.login-container label {
  font-weight: bold;
  text-align: center;
  display: block;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  border: none; 
  border-bottom: 2px solid #ccc; 
  padding: 10px;
  margin: 0;
  width: 100%; 
  box-sizing: border-box;
  text-align: center;
  background: none;
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
  outline: none; 
  border-bottom-color: #007bff; 
}

.login-container button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.login-container button:hover {
  box-shadow: 0 0 10px darkblue;
  border: none;
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* ====================================================================================================================================== */

/* WeatherApp Page */

.weather-app {
  min-height: 100vh;
  background-image: url('./assets/pexels-summerstock-325117.jpg'); 
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: #fff;
}

.weather-app h1 {
  color: #fff;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 0;
}
.weather-app h2 {
  color: #fff;
  text-align: center;
  margin: 10px auto;
  margin-bottom: 25px;
}

.weather-app h3 {
  color: #fff;
}

.typing-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: .15em solid #fff; 
  font-family: monospace;
  font-size: 1.5em;
  animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #fff; }
}